{% extends "./../../layout.html"%} 
{% block title%}运营管理-每日停留积分管理{% endblock %} {% block head%}
<link rel="stylesheet" href="/css/operation/index.css"/> 
<style type="text/css">
	.dayStayCont{width: 100%;text-align: right;clear: both;}
	.dayStayCont .widthAuto{width: auto;}
	.dayStayCont .editorConfigBtn{float: left;}
	.tagBox .tagText{padding: 5%;}
	.tagBox .handelBox{text-align: center;}
	.layui-tab-title .layui-this {font-weight: 800; background-color: #ccc;}
</style>
{% endblock %} 
{%block indexTitle%}
<ul class="index_of_title">
	<li>运营管理</li>
	<li class="arrow-icon">>></li>
	<li class="onIndexOf">每日停留积分管理</li>
	<li class="lisFlBtn">
		{% if menuCodeList %} 
			{% for code in menuCodeList %}
				{% if unescape(code.name) == "应用配置" %}
					<a href="JavaScript:;" class="layui-btn useConfigBtn">应用配置</a>
				{% endif %} 
			{% endfor %} 
		{% endif %}
	</li>
</ul>
{%endblock%} 
{% block content%}
{% if data.message =="成功"%}
<section class="dayStayTotalMan">
	<div class="layui-tab padding15">
		<ul class="layui-tab-title chooseType">
			<li><a href="/operation/pointMan">CPM积分模型</a></li>
			<li><a href="/operation/pointMan/integralSet">内容发放积分模型</a></li>
			<li><a href="/operation/pointMan/registerIntegral">注册积分模型</a></li>
			<li><a href="/operation/pointMan/requestFriendConfig">邀请好友积分模型</a></li>
			<li class="layui-this"><a href="/operation/pointMan/dayStayTotalMan">每日停留积分管理</a></li>
			<li><a href="/operation/pointMan/changeRecordCPM">积分模型变更记录</a></li>
			<li><a href="/operation/pointMan/videoPoint">实时视频积分</a></li>
		</ul>
	</div>
	<form class="layui-form lagLibrary" action="">
	 	<div class="layui-form-item padding15">
	 		<div class="layui-inline dayStayCont clearfix">
			 	<label class="layui-form-label widthAuto">每用户每日停留一小时可获得积分：</label>
			    <div class="layui-input-inline getStayPoints" >
			    {% if data.data.awardPoint %}
			    	<span class="stayPonits">{{data.data.awardPoint}}</span>
				{% else %}
					<span class="stayPonits">0</span>
				{% endif %}	
				积分
			    </div>
			    <a href="JavaScript:;" data-point="{{data.data.awardPoint}}" class="layui-btn editorConfigBtn">更改配置</a>
		    </div>
	    </div>
	</form>	
</section>
{% else %}
<div style="text-align:center">{{data.message}}</div>
{% endif%} 
{% endblock %} 
{% block layui%}
<script type="text/javascript" src="/controllers/operation/pointManagement/dayStayTotalMan.js"></script>
{% endblock%}