@charset "utf-8";
/* HTC and Width = 400 */
@media (min-width:400px){
	html {font-size:53.333px;}
}
/* Reset - Mobile */

/* All */
html {font-size:42.666px;}
/* iPhone 4/5 */
@media (min-width:320px){
	html {font-size:42.666px;}
}
/* Android */
@media (min-width:360px){
	html {font-size:48px;}
}
/* iPhone6 */
@media (min-width:375px){
	html {font-size:50px;}
}
/* iPhone6 Plus */
@media (min-width:414px){
	html {font-size:55.2px;}
}

@media (min-width:480px){
	html {font-size: 64px;}
}
@media (min-width:768px){
	html {font-size: 102.4px;}
}
@media (min-width:1024px){
	html {font-size: 136.5333px;}
}
*{
	box-sizing:border-box;
	margin:0rem;
	padding:0rem;
	/*-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}
body {background-color:#fff; }
body,h1,h2,h3,h4,h5,h6,p,ol,ul,dl,dt,dd,li,cite,fieldset { margin:0px; padding:0px; list-style:none;font-family:"Microsoft Yahei","SimHei","SimSun";}
sup,sub { vertical-align:baseline; }
a{text-decoration:none;outline:none;outline:0;-webkit-touch-callout:none;border: none;}
a:link{color:inherit;outline:none;outline:0;}
a:visited{color:inherit;outline:none;outline:0;}
a:hover{color:inherit;outline:none;outline:0;}
.clear{clear:both}
img{border:none;}
.inline-block{display:inline-block}
.left{float:left}
.right{float:right}


