{% extends "./../../layout.html"%}
{% block title%}评论管理-不良词屏蔽{% endblock %}
{% block head%}
	<link rel="stylesheet" href="/css/criticism/index.css" />
{% endblock %}
{%block indexTitle%}
    <ul class="index_of_title">
	    <li>评论管理</li>
		<li class="arrow-icon">>></li>
	    <li class="onIndexOf">不良词屏蔽</li>
	</ul>
{%endblock%}
{% block content%}
    {% if data.message =="成功"%}
    <form class="layui-form criticismMan" action="" style="padding-top: 15px;">
	 	<div class="layui-form-item">
	 		<div class="layui-inline">
			 	<label class="layui-form-label">不良词语：</label>
			    <div class="layui-input-inline">
			    	{% if page.sensitiveWord %}
			    	<input type="text"  value="{{page.sensitiveWord}}"  class="layui-input sensitiveWord">
					{% else %}
					<input type="text"  class="layui-input sensitiveWord">
					{% endif %}
			    </div>
		    </div>
		    <div class="layui-inline">
		        <label class="layui-form-label">创建时间:</label>
                <div class="layui-input-inline">
				    {% if page && page.setTime %}
				    <input class="layui-input" value="{{page.setTime}}" id="LAY_demorange_s" onclick="layui.laydate({elem: this, istime: false, istoday: false, format: 'YYYY-MM-DD'})">
					{% else %}
					<input class="layui-input" id="LAY_demorange_s" onclick="layui.laydate({elem: this, istime: false, istoday: false, format: 'YYYY-MM-DD'})">
					{% endif %}   
               </div>
		    </div>
		    <div class="layui-inline">
		    	<a href="javascript:;" id="searchBtn"><i class="layui-icon" style="font-size: 28px;font-weight: bold;">&#xe615;</i></a>
		    </div>
	    </div>
	    <div class="layui-form-item">
	 		<div class="layui-inline">
			    <div class="layui-input-inline" style="margin-left: 20px;margin-right: 0;">
			    	<input type="text"  class="layui-input addSensitiveWord">
			    </div>
		    </div>
		    <div class="layui-inline replaceIcon">=></div>
		    <div class="layui-inline">
			    <div class="layui-input-inline">
			    	<input type="text"  class="layui-input addReplaceWord">
			    </div>
		    </div>
		    <div class="layui-inline">
		    	{% if menuCodeList %}
			    	{% for code in menuCodeList %}
			    		{% if unescape(code.name) == "提交" %}
			    			<a class="layui-btn addSubmit" >提交</a>
			    		{% endif %}
			    	{% endfor %}
			    {% endif %}
		    </div>
		    <div class="layui-inline" style="float: right;">
				 <div class="layui-input-inline btnIwidth" style="width: 92px;">					 	              				  				  
					 {% if menuCodeList %}
				    	{% for code in menuCodeList %}
				    		{% if unescape(code.name) == "批量导入" %}	                 				    
				     			<input type="file" name="excelfile" id="importCode"/>
				    			<span class="layui-btn coverInputBtn coverInputBtnLeft importSensitiveWord" style="position: absolute;left: 0;top: 0;">批量导入</span>
				    		{% endif %}
				    	{% endfor %}
				    {% endif %}
				 </div>	
		    </div>
	    </div>
	     <table class="layui-table table-width">
	     	<thead>
			    <tr>
			     	<th></th>
			     	<th>序号</th>
			     	<th>不良词</th>
			     	<th>替换词</th>
			     	<th>设置时间</th>
			     	<th>操作</th>
			    </tr>
		    </thead>
		    {% if data.data.totalRows || data.data.totalRows != 0 %}
	        <tbody id="htmlWrap">
	         	{% for item in data.data.datas %}
	         	<tr class="checkedBoxTr" data-id="{{item.id}}">
	         		<td><input name="" lay-filter="thisInpt" lay-skin="primary" type="checkbox" style="width: 16px;height: 16px;"></td>
	         		<td class="orderN">{{item.id}}</td>
	         		<td>
	         			<span class="beforEditor sensitiveWord">{{item.sensitiveWord}}</span>
	         			<span class="afterEditor editSensitiveWord hide"><input type="text" value="{{item.sensitiveWord}}" /></span>
	         		</td>
					<td>
						<span class="beforEditor replaceWord">{{item.replaceWord}}</span>
						<span class="afterEditor editReplaceWord hide"><input type="text" value="{{item.replaceWord}}" /></span>
					</td>
					<td>{{item.setTime}}</td>
					{% if item.sensitiveWord %}
			 		<td>
			 			{% if menuCodeList %}
					    	{% for code in menuCodeList %}
					    		{% if unescape(code.name) == "修改" %}
					    			<a class="layui-btn onlyEditorBtn" data-index="{{loop.index0}}" data-id="{{item.id}}">修改</a>
				    			{% elseif unescape(code.name) == "提交" %}
					    			<a class="layui-btn submitEdit hide"  data-id="{{item.id}}">提交</a>
					    		{% endif %}
					    	{% endfor %}
					    {% endif %}
			 		</td>
			 		{% else %}
			 		<td></td>
			 		{% endif %}
				</tr> 
	         	{% endfor %}
			 </tbody>
			 {% endif %}
		 </table>
		 {% if data.data.totalRows || data.data.totalRows != 0 %}
		 <div class="layui-inline allSelects" style="padding: 0 0 15px 55px;">
		 	<input name="" lay-skin="primary" lay-filter="allChoose" type="checkbox" style="width: 18px;height: 18px;vertical-align: middle;"> 全选　
		 	{% if menuCodeList %}
		    	{% for code in menuCodeList %}
		    		{% if unescape(code.name) == "提交" %}
		    			<a class="layui-btn" id="editorBtn" href="javascript:;">提交</a>
		    		{% endif %}
		    	{% endfor %}
		    {% endif %}
		 </div>
		 {% endif %}
	 </form>
	 <a	id="downloadFiles" href="" download=""></a>
     <div id="paging" data-page-no={{data.data.pageNo}} data-page={{data.data.totalPage}} data-page-size={{data.data.pageSize}}></div>	 
	 {% else %}
	     <div style="text-align:center">{{data.message}}</div>
	 {% endif%}
{% endblock %}
{% block layui%}
     <script type="text/javascript" src="/controllers/criticism/criticismManage/criticismRetext.js"></script>
{% endblock%}
