<!--{% extends "./../../layout.html"%}-->
{% block title%}运营管理-渠道列表-创建活动{% endblock %}
{% block head%}
	<link rel="stylesheet" href="/css/operation/actManagement.css" />
	<link rel="stylesheet" href="/css/operation/index.css" />
	<style type="text/css">
		.layui-form-saveCloseBtn{
			margin-left: 32%;
		}
		.uploadAdverLogo{opacity:0;-webkit-opacity:0;-moz-opacity:0;filter:alpha(opacity=0);-khtml-opacity:0;}
	    #importAdverLogo{position:absolute;top:0;left:0;z-index:100;width:115px}	
	</style>
{% endblock %}
{%block indexTitle%}
	<ul class="index_of_title">
	    <li>运营管理</li>
		<li class="arrow-icon">>></li>
	    <li>渠道列表</li>
	    <li class="arrow-icon">>></li>
	    {% if page.type && page.type == 1 %}
	    	<li class="onIndexOf">修改活动</li>
	    {% else %}
	    	<li class="onIndexOf">修改渠道</li>
	    {% endif %}
	</ul>
{%endblock%}
{% block content%}
	<section class="actManEdit">
		<form class="layui-form layui-form-position layui-form-padding" action="">
			{% if page.type && page.type == 1 %}
				<div class="act-edit-active"  style="margin-top: 30px;">
					<div class="layui-form-item resourceCode" >
					    <label class="layui-form-label">* 活动:</label>
					    <div class="layui-input-inline">
					        <input type="text" name="adverName"  value="{{data.data.name}}" autocomplete="off" disabled="disabled" class="layui-input active-name">
					    </div>
					    <span class="layui-tooltip tooltip-name hide"></span>
					</div>
					<div class="layui-form-item resourceCode" >
					    <label class="layui-form-label">* 邀请用户获取积分:</label>
					    <div class="layui-input-inline">
					        <input type="text" name="fullName"  placeholder="请输入邀请用户获取积分" value="{{data.data.inviteScore}}" autocomplete="off" class="layui-input get-integral">
					    </div>
					    <span class="layui-tooltip tooltip-integral hide"></span>
					</div>
					<div class="layui-form-item resourceCode" >
					    <label class="layui-form-label">邀请用户数量限制:</label>
					    <div class="layui-input-inline">
					        <input type="text" name="fullName"  placeholder="请输入邀请用户数量限制" value="{{data.data.inviteLimit}}" autocomplete="off" class="layui-input number-limit">
					    </div>
					    <span class="layui-tooltip tooltip-limit hide"></span>
					</div>

					<div class="layui-form-saveCloseBtn">
					    <a href="javascript:;" class="layui-btn saveAddActive" >保存</a>
					    <a href="/operation/actManagement/channelList" class="layui-btn layui-btn-danger" >返回</a>
					</div>
				</div>
			{% else %}
			<div class="act-channel-main" style="margin-top: 30px; min-width: 1300px;">
				<div class="act-edit-channel" style="width: 550px;">
					<div class="layui-form-item resourceCode" >
					    <label class="layui-form-label" style="width: 30%;">推广渠道基础信息</label>
					</div>
					<div class="layui-form-item resourceCode" >
					    <label class="layui-form-label">* 渠道名称:</label>
					    <div class="layui-input-inline">
					        <input type="text" name="adverName" disabled="disabled"  value="{{data.data.channelName}}" autocomplete="off" class="layui-input channel-name">
					    </div>
					    <span class="layui-tooltip tooltip-channel hide"></span>
					</div>
					<div class="layui-form-item resourceCode" >
					    <label class="layui-form-label">* 联系人:</label>
					    <div class="layui-input-inline">
					        <input type="text" name="fullName"  value="{{data.data.contact}}" autocomplete="off" class="layui-input contacts">
					    </div>
					    <span class="layui-tooltip tooltip-contacts hide"></span>
					</div>
					<div class="layui-form-item resourceCode" >
					    <label class="layui-form-label">* 联系手机:</label>
					    <div class="layui-input-inline">
					        <input type="text" name="fullName"  value="{{data.data.phone_number}}" autocomplete="off" class="layui-input phone">
					    </div>
					    <span class="layui-tooltip tooltip-phone hide"></span>
					</div>
					<div class="layui-form-item resourceCode" >
					    <label class="layui-form-label">联系地址:</label>
					    <div class="layui-input-inline adress-select">
		                    <select name="provid" id="provid" lay-filter="provid">
		                        <option value="">请选择省</option>
		                    </select>
		                </div>
		                <div class="layui-input-inline adress-select">
		                    <select name="cityid" id="cityid" lay-filter="cityid">
		                        <option value="">请选择市</option>
		                    </select>
		                </div>
		                <div class="layui-input-inline adress-select">
		                    <select name="areaid" id="areaid" lay-filter="areaid">
		                        <option value="">请选择县/区</option>
		                    </select>
		                </div>           
					</div>
					<div class="layui-form-item resourceCode" >
					    <div class="layui-input-inline" style="margin-left:130px; ">
					        <textarea name="" rows="" cols=""  placeholder="请输入详细地址" style="width: 100%;height: 60px; resize: none;" class="detail-address">{{data.data.address_detail}}</textarea>
					    </div>
					    <span class="layui-tooltip tooltip-detail hide"></span>
					</div>
				</div>
				
				<div class="act-edit-channel " style="width: 550px;">
					<div class="layui-form-item resourceCode" >
					    <label class="layui-form-label" style="width: 28%;">渠道方收款信息</label>
					</div>
					<div class="layui-form-item resourceCode" >
					    <label class="layui-form-label">佣金模板:</label>
					    <div class="layui-input-inline">
					        <select name="moneyMoudle" id="moneyMoudle" lay-filter="moneyMoudle">
		                        <option value="">请选择模板</option>
		                        <option value="1">佣金模板一</option>
		                    </select>
					    </div>
					    <span class="layui-tooltip tooltip-name hide"></span>
					</div>
					<div class="layui-form-item resourceCode" >
					    <label class="layui-form-label">银行:</label>
					    <div class="layui-input-inline">
					        <select name="bankSelect" id="bankSelect" lay-filter="bankSelect">
		                        <option value="">请选择银行</option>
		                    </select>
					    </div>
					    <span class="layui-tooltip tooltip-integral hide"></span>
					</div>
					<div class="layui-form-item resourceCode" >
					    <label class="layui-form-label">支行:</label>
					    <div class="layui-input-inline">
					        <input type="text" name="fullName"  value="{{data.data.sub_bank }}"  placeholder="请输入支行名称"  autocomplete="off" class="layui-input bank">
					    </div>
					    <span class="layui-tooltip tooltip-bank hide"></span>
					</div>
					<div class="layui-form-item resourceCode" >
					    <label class="layui-form-label">收款账号:</label>
					    <div class="layui-input-inline">
					        <input type="text" name="fullName"  value="{{data.data.account }}" placeholder="请输入收款账号" autocomplete="off" class="layui-input accounts">
					    </div>
					    <span class="layui-tooltip tooltip-accounts hide"></span>
					</div>
					
					<div class="layui-form-item resourceCode" >
						<label class="layui-form-label">备注:</label>
					    <div class="layui-input-inline">
					        <textarea name="" rows="" cols="" style="width: 100%; height: 60px; resize: none;" class="remarks">{{data.data.remark }}</textarea>
					    </div>
					    <span class="layui-tooltip tooltip-remarks hide"></span>
					</div>
				</div>
				<div class="layui-form-saveCloseBtn"  style="width: 100%; float: left; margin-top: 40px; margin-left: 33%;">
				    <a class="layui-btn saveAdd" data-id = {{data.data.channelId}} lay-filter="saveAdd">保存</a>
				    <a href="/operation/actManagement/channelList" class="layui-btn layui-btn-danger" >返回</a>
				</div>
			</div>
		{% endif %}
		</div>
			
		</form>
	</section>
{% endblock %}
{% block layui %}
	<script type="text/javascript" src="/controllers/operation/actManagement/data.js"></script>
	<script type="text/javascript" src="/controllers/operation/actManagement/province.js"></script>
	<script type="text/javascript" src="/controllers/operation/actManagement/reviseActive.js"></script>
{% endblock %}



