    @media (min-width:400px) {
    	html {
    		font-size: 53.333px;
    	}
    }
    /* Reset - Mobile */
    /* All */
    
    html {
    	font-size: 42.666px;
    }
    /* iPhone 4/5 */
    
    @media (min-width:320px) {
    	html {
    		font-size: 42.666px;
    	}
    }
    /* Android */
    
    @media (min-width:360px) {
    	html {
    		font-size: 48px;
    	}
    }
    /* iPhone6 */
    
    @media (min-width:375px) {
    	html {
    		font-size: 50px;
    	}
    }
    /* iPhone6 Plus */
    
    @media (min-width:414px) {
    	html {
    		font-size: 55.2px;
    	}
    	/*.foot{width: 100%;}
				.foot-one{width: 100%;}
				.foot-two{width: 100%;}
				.foot-three{width: 100%;}*/
    }
    
    @media (min-width:480px) {
    	html {
    		font-size: 64px;
    	}
    }
    
    @media (min-width:768px) {
    	html {
    		font-size: 102.4px;
    	}
    }
    
    @media (min-width:1024px) {
    	html {
    		font-size: 136.5333px;
    	}
    }
    

    
    .hello {
    	width: 100%;
    }
    
    .sidebar {
    	position: fixed;
    	top: 35%;
    	right: 0;
    	z-index: 6;
    	text-align: center;
    }
    
    .ce {
    	width: 1.5rem;
    	height: 1.5rem;
    	position: absolute;
    	top: -0.5rem;
    	right: 0.7rem;
    	display: none;
    }
    
    .bian {
    	width: 0.5rem;
    }
    
    .de {
    	width: 0.5rem;
    }
    
    .lan {
    	width: 1.5rem;
    	height: 1.5rem;
    	position: absolute;
    	top: 0.4rem;
    	right: 0.7rem;
    	display: none;
    }
    
    .sidebar-one:hover .ce {
    	display: block;
    }
    
    .sidebar-two:hover .lan {
    	display: block;
    }
    
    .color {
    	padding: 0.2rem 0.1rem;
    	background: #eaeaea;
    }
    
    .content {
    	width: 100%;
    }
    .content img{
    	width: 100%;
    	position: relative;
    }
    .word-one {
    	width: 100%;
    	position: absolute;
    	top: 12%;
    	left: 0;
    }