@media (min-width:400px) {
	html {
		font-size: 53.333px;
	}
}


/* Reset - Mobile */


/* All */

html {
	font-size: 42.666px;
}


/* iPhone 4/5 */

@media (min-width:320px) {
	html {
		font-size: 42.666px;
	}
}


/* Android */

@media (min-width:360px) {
	html {
		font-size: 48px;
	}
}


/* iPhone6 */

@media (min-width:375px) {
	html {
		font-size: 50px;
	}
}


/* iPhone6 Plus */

@media (min-width:414px) {
	html {
		font-size: 55.2px;
	}
}

@media (min-width:480px) {
	html {
		font-size: 64px;
	}
}

@media (min-width:768px) {
	html {
		font-size: 102.4px;
	}
}

@media (min-width:1024px) {
	html {
		font-size: 136.5333px;
	}
}



.hello {
	width: 100%;
}

.content {
	width: 100%;
	height: 6.5rem;
	background: url(../img/web1/bj.jpg) no-repeat 100% 100%;
	position: relative;
	text-align: center;
}

.slide {
	width: 70%;
	position: absolute;
	top: 0.3rem;
	left: 15%;
	margin: 0;
}

.word-one {
	padding-top: 0rem;
	margin-bottom: 0.2rem;
}
.word-three img{
	width:55%;
	position: relative;
}

.word-four{
	position: absolute;
	top: 54.5%;
	left: 46.5%;
}

.word-four p{
	font-size: 0.16rem;
	color: black;
	margin: 0;
	/*text-shadow:white 2px 2px;*/
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
}

.jian {
	position: absolute;
	top: 45%;
	font-size: 1rem;
	left: 30%;
}

.tou {
	position: absolute;
	top: 45%;
	right: 30%;
	font-size: 1rem;
}

.sidebar {
	position: fixed;
	top: 35%;
	right: 0;
	z-index: 6;
	text-align: center;
}

.ce {
	width: 1.5rem;
    height: 1.5rem;
	position: absolute;
	top: -0.5rem;
	right: 0.7rem;
	display: none;
}

.bian {
	width: 0.5rem;
}

.de {
	width: 0.5rem;
}

.lan {
	width: 1.5rem;
    height: 1.5rem;
	position: absolute;
	top: 0.4rem;
	right: 0.7rem;
	display: none;
}

.sidebar-one:hover .ce {
	display: block;
}

.sidebar-two:hover .lan {
	display: block;
}

.color {
	padding: 0.2rem 0.1rem;
	background: #E3E3E3;
}