@charset "utf-8";
/* common css*/
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,article,aside,footer,header,hgroup,nav,section,menu{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
ul,li{list-style:none;}
fieldset,img{border:0;vertical-align:middle;}
input,textarea{outline-style:none;}
textarea{resize:none;}
article,aside,footer,header,hgroup,nav,section,menu{display:block;}
address,caption,cite,code,dfn,em,i,th,var{font-style:normal;font-weight:400;}
a {color:#333; text-decoration:none;}
a:hover{text-decoration:none;}
.left{float:left}
.right{float:right}
.clear{clear:both}
.margin-10{margin-left:10px;}
.inline-block{display:inline-block}
.leftAlign{text-align:left}
.rightAlign{text-align:right}
.show{display:block}
.hide{display:none}
.block{display:block}
html,body{font-family:'Montserrat', sans-serif;font-size:12px;min-width:1250px;width:100%;}
/* laoding css */
.loading{position:absolute;width:100%;height:100%;background-color:rgb(52,152,219);z-index:100000;top:0;left:0;}
.loading .loading_icon{position:absolute;left:50%;margin-left:-15px;top:50%;margin-top:-15px;width:30px;height:30px;background-color:#fff;animation:rotateplane 1.2s infinite ease-in-out;-webkit-animation:rotateplane 1.2s infinite ease-in-out;}
.loading .loading_content{text-align:center;width:100%;color:white;font-size:18px;line-height:24px;position:absolute;top:50%;margin-top:15px;}
.body_init{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0;}
@-webkit-keyframes rotateplane{
	0% {-webkit-transform:perspective(120px)}
	50% {-webkit-transform:perspective(120px) rotateY(180deg)}
	100%{-webkit-transform:perspective(120px) rotateY(180deg) rotateX(180deg)}
}
@keyframes rotateplane{
	 0%{
		 transform:perspective(120px) rotateX(0deg) rotateY(0deg);
		 -webkit-transform:perspective(120px) rotateX(0deg) rotateY(0deg)
	 }
	 50%{
		 transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		 -webkit-transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg)
	 }
	 100% {
		 transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		 -webkit-transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
	 }
}
/* nav css */
.nav_wrap{width:100%;min-width:1250px;position:fixed;background:rgba(0,0,0,0.7);/* -khtml-opacity:0.7;-moz-opacity:0.7;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000)";filter:alpha(opacity=70);opacity:0.7; */top:0;left:0;height:56px;z-index:1000}
.nav{width:730px;margin:0 auto;}
.logo_wrap{width:220px;height:36px;position:absolute;left:40px;top:10px;}
.logo_wrap img{height:36px;width:220px;float:left}
.logo_wrap .logo_font{font-size:20px;color:white;font-style:italic;float:left;}
.nav .nav_link{margin-left:80px;} 
.nav .nav_link li{float:left;margin-left:20px;}
.nav .nav_link li a{font-family:'Montserrat',sans-serif;font-weight:600;display:inline-block;font-size:12px;line-height:36px;color:white;padding:9px 2px;letter-spacing:1px}
.nav .nav_link .nav_active{/* box-sizing:border-box; *//* border-bottom: 1px solid #fff; */border-bottom: 1px solid #fff;}
.changeLan{color:white;font-size:12px;font-weight:600;position:absolute;right:40px;top:10px;line-height:36px;letter-spacing:1px}
.nav .set_cn li a{padding:9px 20px 9px 26px;letter-spacing:6px;font-size:14px;}
.nav .set_en li a{padding:9px 4px;}
/**footer css**/
.footer_wrap{min-width:1250px;width:100%;background-color:#0e0f16;}
.footer{width:1250px;margin:0 auto}
.footer ul li{color:white;width:30%;margin-left:2%;float:left;font-size:12px;padding:18px 2px;text-align: center;font-weight:600}
.footer ul .first_item{margin-left:40px;}
.footer ul .first_item .product_name{font-style:italic}

/* modal css */
.modalAlertWrap{position:fixed;top:0;left:0;z-index:10003;height:100%;width:100%}
.modalAlertWrap .modalAlertLayout{background:black;opacity:.7;position:absolute;top:0;left:0;width:100%;height:100%}
.modalAlertWrap .modalAlert{position:relative;width:460px;height:auto;background:white;top:-300px;left:50%;margin-left:-230px;border-radius:6px;}
.modalAlertWrap .modalAlertTitle{padding-left:20px;border-bottom:1px solid #e5e5e5;margin:0;line-height:55px;font-size:18px;font-family:inherit;color:inherit;font-weight:500}
.modalAlertWrap .modalAlertTitle span{font-size:12px;}
.modalAlertWrap .modalAlertContent{padding-left:20px;font-size:14px;line-height:42px;}
.modalAlertWrap .modalAlertExit{position:absolute;top:10px;right:10px;font-size:14px;color:gray;cursor:pointer;padding:4px;}
.control-group .control-label{width:120px;text-align:right;margin-right:10px;}
.alertTextarea{width:220px;height:140px}
.alertBtnBox{text-align:center;padding-bottom:15px;}
.modalLoading{display:none;width:100%;height:100%;position:absolute;z-index:100002;top:0;left:0;}
.modalLoadingLay{width:100%;height:100%;background:black;opacity:.7;position:absolute;top:0;left:0;}
.modalLoadingText{background:white;width:200px;height:30px;line-height:30px;text-align:center;color:gray;font-size:16px;position:absolute;bottom:100px;left:50%;margin-left:-100px}
.modalDownLoad{width:460px;margin:20px 0 20px -20px;}
.modalDownLoad li{width:50%;float:left;text-align:center;}
.modalDownLoad li img{width:130px;height:130px;display:block;margin:0 auto}
/* bootstarp input */
.control-group{margin-bottom:10px;}
.control-group .control-label{display:inline-block;width:120px;text-align:right;margin-right:10px;}
.control-group .controls{position:relative}
.control-group .controls .errorTips{position:absolute;top:28px;left:8px;color:red;}
.control-group .controls input,.control-group .controls textarea{  
  width: 206px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  margin-top:8px
}
.control-group .controls textarea{height:140px;}
.control-group .controls input:focus ,.control-group .controls textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}