{% extends "./../../../layout.html"%}
{% block title%}运营管理--商品管理--商品分享统计{% endblock %}
{% block head%}
	<link rel="stylesheet" href="/css/operation/index.css" />
{% endblock %}
{%block indexTitle%}
     <ul class="index_of_title">
	     <li>运营管理</li>
		 <li class="arrow-icon">>></li>
		 <li>商品管理</li>
		 <li class="arrow-icon">>></li>
	     <li class="onIndexOf">商品分享统计</li>
	 </ul>
{%endblock%}
{% block content%}
     {% if data.message =="成功"%}
	 <form class="layui-form dataPlug" action="">
	 	<div class="layui-form-item padding15" >
	 		<div class="layui-inline">
			 	<label class="layui-form-label">商品名称：</label>
			    <div class="layui-input-inline">
				    {% if page && page.productName %}
					<input type="text" name="title" id="shortName" lay-verify="text" autocomplete="off" placeholder="请输入商品名称" class="layui-input" value="{{page.productName}}">
					{% else %}
					<input type="text" name="title" id="shortName" lay-verify="text" autocomplete="off" placeholder="请输入商品名称" class="layui-input">
					{% endif %}			     
			    </div>
		    </div>
		    <div class="layui-inline">
		        <label class="layui-form-label">日期范围</label>
		        <div class="layui-input-inline">
		        	{% if page && page.startTime %}
					<input class="layui-input" placeholder="开始日" id="LAY_demorange_s" value="{{page.startTime}}">
					{% else %}
			    	<input class="layui-input" placeholder="开始日" id="LAY_demorange_s">
			    	{% endif %}
			    </div>
			    <div class="layui-input-inline">
			    	{% if page && page.endTime %}
					<input class="layui-input" placeholder="截止日" id="LAY_demorange_e" value="{{page.endTime}}">
					{% else %}
			    	<input class="layui-input" placeholder="截止日" id="LAY_demorange_e">
			    	{% endif %}
			    </div>
		    </div>
		    <div class="layui-inline">
		    	<a href="javascript:;" id="searchBtn"><i class="layui-icon" style="font-size: 28px;font-weight: bold;">&#xe615;</i></a>
		    </div>
	    </div>
	 </form>
     <table class="layui-table table-width">
	     <tr>
	     	<th>商品名称</th>
	     	<th>兑换数</th>
	     	<th>分享次数</th>
	     	<th>PV</th>
	     	<th>UV</th>
	     	<th>下载</th>
	     	<th>注册</th>
	     	<th>次日留存</th>
	     	<th>七日留存</th>
	     	<th>发布时间</th>
	     </tr>
         <tbody id="htmlWrap">
         	{% for item in data.data.datas %}
         	<tr>
			 	<td>{{item.productName}}</td>
			 	<td>{{item.exchangeCount}}</td>
			 	<td>{{item.shareTimes}}</td>
			 	<td>{{item.pv}}</td>
			 	<td>{{item.uv}}</td>
			 	<td>{{item.downloadCount}}</td>
			 	<td>{{item.registerCount}}</td>
			 	<td>{{item.nextDayLeft}}</td>
			 	<td>{{item.sevenDayLeft}}</td>
				<td>{{item.publishTime}}</td>
			</tr>
			{% endfor %}
		 </tbody>	
	 </table>
     <div id="paging" data-page-no={{data.data.pageNo}} data-page={{data.data.totalPage}} data-page-size={{data.data.pageSize}}></div>	 
	 {% else %}
	     <div style="text-align:center">{{data.message}}</div>
	 {% endif%}
{% endblock %}
{% block layui%}
     <script type="text/javascript" src="/controllers/operation/orderManagement/goodsShareStat.js"></script>
{% endblock%}
