{% extends "./../../layout.html"%}
{% block title%}运营管理--商品管理--待设置管理{% endblock %}
{% block head%}
	<link rel="stylesheet" href="/css/operation/index.css" />
{% endblock %}
{%block indexTitle%}
     <ul class="index_of_title">
	     <li>运营管理</li>
		 <li class="arrow-icon">>></li>
		 <li>商品管理</li>
		 <li class="arrow-icon">>></li>
	     <li class="onIndexOf">商品待设置管理</li>
	 </ul>
{%endblock%}
{% block content%}
     {% if data.message =="成功"%}
	 <form class="layui-form dataPlug" action="">
	 	<div class="layui-form-item padding15" >
	 		{% if page && page.productAdAttr && page.productAdAttr == 1 %}
	    	<div class="layui-input-inline productAdAttr" data-productAdAttr="1">
	        {% elseif page && page.productAdAttr && page.productAdAttr == 2 %}
	    	<div class="layui-input-inline productAdAttr" data-productAdAttr="2">
    		{% elseif page && page.productAdAttr && page.productAdAttr == 3 %}
	    	<div class="layui-input-inline productAdAttr" data-productAdAttr="3">
			{% else %}
			<div class="layui-input-inline productAdAttr" data-productAdAttr="0">
			{% endif %}
		        <select name="productAdAttr" lay-filter="productAdAttr" lay-verify="required" lay-search="">
		        	{% if page && page.productAdAttr &&  page.productAdAttr == 1 %}
		        	<option value="0">商品广告属性</option>
		            <option value="1" selected="selected">购买商品</option>
		            <option value="2">广告商品</option>
		            <option value="3">充值商品</option>
		            {% elseif page && page.productAdAttr && page.productAdAttr == 2 %}
		        	<option value="0">商品广告属性</option>
		            <option value="1">购买商品</option>
		            <option value="2" selected="selected">广告商品</option>
		            <option value="3">充值商品</option>
		            {% elseif page && page.productAdAttr && page.productAdAttr == 3 %}
		        	<option value="0">商品广告属性</option>
		            <option value="1">购买商品</option>
		            <option value="2">广告商品</option>
		            <option value="3" selected="selected">充值商品</option>
		            {% else %}
		            <option value="0" selected="selected">商品广告属性</option>
		            <option value="1">购买商品</option>
		            <option value="2">广告商品</option>
		            <option value="3">充值商品</option>
					{% endif %}
		        </select>
	        </div>
	 		<div class="layui-inline">
			 	<label class="layui-form-label">商品名称：</label>
			    <div class="layui-input-inline">
				    {% if page && page.shortName %}
					<input type="text" name="title" id="shortName" lay-verify="text" autocomplete="off" placeholder="请输入商品名称" class="layui-input" value="{{page.shortName}}">
					{% else %}
					<input type="text" name="title" id="shortName" lay-verify="text" autocomplete="off" placeholder="请输入商品名称" class="layui-input">
					{% endif %}			     
			    </div>
		    </div>
		    <div class="layui-inline">
		        <label class="layui-form-label">日期范围</label>
		        <div class="layui-input-inline">
		        	{% if page && page.stDate %}
					<input class="layui-input" placeholder="开始日" id="LAY_demorange_s" value="{{page.stDate}}">
					{% else %}
			    	<input class="layui-input" placeholder="开始日" id="LAY_demorange_s">
			    	{% endif %}
			    </div>
			    <div class="layui-input-inline">
			    	{% if page && page.enDate %}
					<input class="layui-input" placeholder="截止日" id="LAY_demorange_e" value="{{page.enDate}}">
					{% else %}
			    	<input class="layui-input" placeholder="截止日" id="LAY_demorange_e">
			    	{% endif %}
			    </div>
		    </div>
		    <div class="layui-inline">
		    	<a href="javascript:;" id="searchBtn"><i class="layui-icon" style="font-size: 28px;font-weight: bold;">&#xe615;</i></a>
		    </div>
	    </div>
	 </form>
     <table class="layui-table table-width">
	     <tr>
	     	<th>商品简称</th>
	     	<th>商品图</th>
	     	<th>原价(元)</th>
	     	<th>商品广告属性</th>
	     	<th>提交时间</th>
	     	<th>操作</th>
	     </tr>
         <tbody id="htmlWrap">
         	{% for item in data.data.datas.list%}
         	<tr>
			 	<td><a class="textLinks" href="/operation/opMerMan/showTrades1?productId={{item.id}}" style="color: #009688;">{{item.full_name}}</a></td>
			 	<td><img src="{{item.image_url}}" style="width: 110px;height: 80px;" alt="" /></td>
			 	<td>{{item.retail_price}}</td>
			 	<td>
			 		{% if item.product_ad_attr == 1 %}
			 		购买商品
			 		{% elseif item.product_ad_attr == 2 %}
			 		广告商品
			 		{% elseif item.product_ad_attr == 3 %}
			 		充值商品
			 		{% else %}
			 		--
			 		{% endif %}
			 	</td>
				<td>{{item.update_time}}</td>
			 	<td>
			 		{% if menuCodeList %}
				    	{% for code in menuCodeList %}
				    		{% if unescape(code.name) == "编辑" %}
				    			{% if item.product_ad_attr == 1 %}
				    			<a class="layui-btn" href="/operation/opMerMan/setBuyGoods?productId={{item.id}}">编辑</a>
				    			{% elseif item.product_ad_attr == 2 %}
				    			<a class="layui-btn" href="/operation/opMerMan/setAdvGoods?productId={{item.id}}">编辑</a>
				    			{% elseif item.product_ad_attr == 3 %}
				    			<a class="layui-btn" href="/operation/opMerMan/setRechargeGoods?productId={{item.id}}">编辑</a>
				    			{% endif %}
				    		{% endif %}
				    	{% endfor %}
				    {% endif %}
				</td>
			</tr>
			{% endfor %}
		 </tbody>	
	 </table>
     <div id="paging" data-page-no={{data.data.pageNo}} data-page={{data.data.totalPage}} data-page-size={{data.data.pageSize}}></div>	 
	 {% else %}
	     <div style="text-align:center">{{data.message}}</div>
	 {% endif%}
{% endblock %}
{% block layui%}
     <script type="text/javascript" src="/controllers/operation/orderManagement/index.js"></script>
{% endblock%}
