{% extends "./../../layout.html"%}
{% block title%}积分互换管理-商家管理{% endblock %}
{% block head%}
	<link rel="stylesheet" href="/css/advertising/index.css" />
	<link rel="stylesheet" type="text/css" href="/css/commodityManagement/index.css"/>
	<style type="text/css">
		.layui-form-saveCloseBtn{margin-left: 32%;}     
	     
	    .uploadLogo{opacity:0;-webkit-opacity:0;-moz-opacity:0;filter:alpha(opacity=0);-khtml-opacity:0;}
	    #asImportCode{position:absolute;top:0;left:0;z-index:100}	
	    .goodsDetail{opacity:0;-webkit-opacity:0;-moz-opacity:0;filter:alpha(opacity=0);-khtml-opacity:0;}	
	    #asImportDetail{position:absolute;top:0;left:0;z-index:100} 
	    .uploadFile{opacity:0;-webkit-opacity:0;-moz-opacity:0;filter:alpha(opacity=0);-khtml-opacity:0;}	
	    #importCode{position:absolute;top:0;left:0;z-index:100}
	</style>
{% endblock %}
{%block indexTitle%}
	<ul class="index_of_title">
	    <li>积分互换管理</li>
	    <li class="arrow-icon">>></li>
	    <li class="onIndexOf">商家管理</li>
	</ul>
{%endblock%}
{% block content%}
	<section class="section" status="{{data.data.status}}" type="{{data.data.type}}" data-id="{{page.id}}">
		<form class="layui-form layui-form-position" action="">
			{% if page.status == 1 && page.type == 1 %}
			<div class="layui-form-item resourceCode" >
			    <label class="layui-form-label">*  商家名称:</label>
			    <div class="layui-input-inline">
			        <input type="text"  placeholder="请输入商家名称" readonly="readonly" disabled="disabled" value="{{data.data.name}}" class="layui-input merchantName">
			    </div>
			    <span class="layui-tooltip tooltip-merchantName hide">请输入商家名称</span>
			</div>
			<div class="layui-form-item resourceCode" >
			    <label class="layui-form-label">*  商户号:</label>
			    <div class="layui-input-inline">
			        <input type="text"  placeholder="请输入申请商户号" readonly="readonly" disabled="disabled" value="{{data.data.clientId}}" class="layui-input merchantCode">
			    </div>
			    <span class="layui-tooltip tooltip-merchantCode hide">请输入申请商户号</span>
			</div>
			<div class="layui-form-item resourceCode" >
			    <label class="layui-form-label">*  商家积分名称:</label>
			    <div class="layui-input-inline">
			        <input type="text" readonly="readonly" disabled="disabled" value="{{data.data.pointName}}" class="layui-input pointName">
			    </div>
			    <span class="layui-tooltip tooltip-pointName hide">请输入10字内的商家积分名称</span>
			</div>
			
			
			<div class="layui-form-item" pane="">
			    <label class="layui-form-label">* 商家logo上传:</label>
			    <div class="site-demo-upload" >
			    	{% if data.data.logo %}
			    	<img class="layui-input-inline" id="uploadLogoShow" style="width: 227px;height: 128px;" data-url="{{data.data.logo}}"  src="{{data.data.logo}}"/>
			    	{% else %}
				    <img class="layui-input-inline" id="uploadLogoShow" style="width: 227px;height: 128px;"  src="/images/showUpLogoImg.png"/>
				    {% endif %}
				    <div class="layui-input-inline" style="position: relative;width: 50px;">
				    	<!--<input type="file" name="file"  class="layui-upload-images uploadLogo"/>
				    	<span class="copyUploadBtn" id="asImportCode">+</span>-->
						<!--<span class="layui-btn coverInputBtn coverInputBtnLeft" id="asImportCode">上传商品列表图</span>-->	
				    </div>
				    <span class="layui-tooltip tooltip-uploadLogo hide">请上传商品列表图</span>
				</div>
			</div>
			<div class="layui-form-item" >
			    <label class="layui-form-label"> *  兑换比例:</label>
			   	<div class="layui-input-inline">
			        <input type="text"  value="{{data.data.selfProportion}}" readonly="readonly" disabled="disabled" class="layui-input proportionown" style="display: inline-block;width: 80px;">
			        &nbsp;比&nbsp;
			        <input type="text"  value="{{data.data.platformProportion}}" readonly="readonly" disabled="disabled" class="layui-input proportionmerchant" style="display: inline-block;width: 80px;">
			   </div>
			   <span class="layui-tooltip tooltip-proportion hide">请输入兑换比例</span>
			</div>
			<div class="layui-form-item">
			    <label class="layui-form-label"></label>
			    <div class="layui-input-inline" style="width: 422px;">
			    	<div style="color: #ccc;font-size: 12px;">兑换比例为：赚动积分对商家的比例。比如100:1 即：100赚动积分换1个钢镚。</div>
			    </div>
			</div>
			
			<!--<div class="layui-form-item">
			    <label class="layui-form-label">兑换说明:</label>
			    <div class="layui-input-inline">
			    	<textarea class="layui-textarea-goods describe" style="width: 100%;height: 100px;resize:none;">{{data.data.instructions}}</textarea>
			    </div>
			    <span class="layui-tooltip hide tooltip-describe">请输入兑换说明，可以支持输入链接</span>
			</div>-->
			
			{% else %}
			<div class="layui-form-item resourceCode" >
			    <label class="layui-form-label">*  商家名称:</label>
			    <div class="layui-input-inline">
			        <input type="text"  placeholder="请输入商家名称" value="{{data.data.name}}" class="layui-input merchantName">
			    </div>
			    <span class="layui-tooltip tooltip-merchantName hide">请输入商家名称</span>
			</div>
			<div class="layui-form-item resourceCode" >
			    <label class="layui-form-label">*  商户号:</label>
			    <div class="layui-input-inline">
			    	
			        <input type="text"  value="{{data.data.clientId}}" class="layui-input merchantCode">
			    </div>
			    <span class="layui-tooltip tooltip-merchantCode hide">请输入申请商户号</span>
			</div>
			<div class="layui-form-item resourceCode" >
			    <label class="layui-form-label">*  商家积分名称:</label>
			    <div class="layui-input-inline">
			        <input type="text" value="{{data.data.pointName}}" class="layui-input pointName">
			    </div>
			    <span class="layui-tooltip tooltip-pointName hide">请输入10字内的商家积分名称</span>
			</div>
			
			
			<div class="layui-form-item" pane="">
			    <label class="layui-form-label">商家logo上传:</label>
			    <div class="site-demo-upload" >
			    	{% if data.data.logo %}
			    	<img class="layui-input-inline" id="uploadLogoShow" style="width: 227px;height: 128px;"  data-url="{{data.data.logo}}" src="{{data.data.logo}}"/>
			    	{% else %}
				    <img class="layui-input-inline" id="uploadLogoShow" style="width: 227px;height: 128px;"  src="/images/showUpLogoImg.png"/>
				    {% endif %}
				    <div class="layui-input-inline" style="position: relative;width: 50px;">
				    	<input type="file" name="file"  class="layui-upload-images uploadLogo"/>
				    	<span class="copyUploadBtn" id="asImportCode">+</span>
						<!--<span class="layui-btn coverInputBtn coverInputBtnLeft" id="asImportCode">上传商品列表图</span>-->	
				    </div>
				    <span class="layui-tooltip tooltip-uploadLogo hide">请上传商品列表图</span>
				</div>
			</div>
			<div class="layui-form-item" >
			    <label class="layui-form-label"> *  兑换比例:</label>
			   	<div class="layui-input-inline">
			        <input type="text" value="{{data.data.selfProportion}}" class="layui-input proportionown" style="display: inline-block;width: 80px;">
			        &nbsp;比&nbsp;
			        <input type="text" value="{{data.data.platformProportion}}" class="layui-input proportionmerchant" style="display: inline-block;width: 80px;">
			   </div>
			   <span class="layui-tooltip tooltip-proportion hide">请输入兑换比例</span>
			</div>
			<div class="layui-form-item">
			    <label class="layui-form-label"></label>
			    <div class="layui-input-inline" style="width: 422px;">
			    	<div style="color: #ccc;font-size: 12px;">兑换比例为：赚动积分对商家的比例。比如100:1 即：100赚动积分换1个钢镚。</div>
			    </div>
			</div>
			{% endif %}
			<div class="layui-form-item">
			    <label class="layui-form-label">*  兑换说明:</label>
			    <div class="layui-input-inline">
			    	<textarea class="layui-textarea-goods describe" style="width: 100%;height: 100px;resize:none;">{{data.data.instructions}}</textarea>
			    </div>
			    <span class="layui-tooltip hide tooltip-describe">请输入500字以内兑换说明，可以支持输入链接</span>
			</div>
			{% if page.status == 1 && page.type == 1 %}
			<div class="layui-form-item ifShowPar" >
			    <label class="layui-form-label"> 兑换跳转页:</label>
			    <div class="layui-input-inline">
			    	{% if data.data.exchangeUrl %}
			        <input type="text" readonly="readonly" disabled="disabled"  placeholder="请输入http://开头链接" value="{{data.data.exchangeUrl}}" class="layui-input jumpLink">
			        {% else %}
			        <input type="text" readonly="readonly" disabled="disabled"  placeholder="请输入http://开头链接" autocomplete="off" class="layui-input jumpLink">
			        {% endif %}
			    </div>
			    <span class="layui-tooltip tooltip-jumpLink hide">请输入http://开头兑换跳转页链接</span>
			</div>
			
			<div class="layui-form-item" >
			    <label class="layui-form-label"> *兑换状态:</label>
			   	<div class="layui-input-inline layui-input-checked status" data-type="{{data.data.type}}" lay-filter="status">
			        {% if data.data.type == 1 %}
					 <input type="radio" name="status"  value="1" checked="checked" disabled="disabled" readonly="readonly" lay-filter="status" title="可用" >
					 <input type="radio" name="status"  value="0" lay-filter="status" disabled="disabled" readonly="readonly" title="不可用">
			   		{% else %}
					 <input type="radio" name="status"  value="1"  lay-filter="status" disabled="disabled" readonly="readonly" title="可用" >
					 <input type="radio" name="status"  value="0" checked="checked" disabled="disabled" readonly="readonly" lay-filter="status" title="不可用">
					 {% endif %}
			   </div>
			</div>
			{% else %}
			<div class="layui-form-item ifShowPar" >
			    <label class="layui-form-label">兑换跳转页:</label>
			    <div class="layui-input-inline">
			    	{% if data.data.exchangeUrl %}
			        <input type="text"   value="{{data.data.exchangeUrl}}" class="layui-input jumpLink">
			        {% else %}
			        <input type="text"   autocomplete="off" class="layui-input jumpLink">
			        {% endif %}
			    </div>
			    <span class="layui-tooltip tooltip-jumpLink hide">请输入http://开头兑换跳转页链接</span>
			</div>
			<div class="layui-form-item" >
			    <label class="layui-form-label"> *兑换状态:</label>
			   	<div class="layui-input-inline layui-input-checked status" data-type="{{data.data.type}}" lay-filter="status">
			   		{% if data.data.type == 1 %}
					 <input type="radio" name="status"  value="1" checked="checked" lay-filter="status" title="可用" >
					 <input type="radio" name="status"  value="0" lay-filter="status" title="不可用">
			   		{% else %}
					 <input type="radio" name="status"  value="1"  lay-filter="status" title="可用" >
					 <input type="radio" name="status"  value="0" checked="checked" lay-filter="status" title="不可用">
					 {% endif %}
			   	</div>
			</div>
			{% endif %}
			<div class="layui-form-saveCloseBtn"  pane="">
				<a class="layui-btn layui-save-btn saveMessage">保存</a>
			    <a class="layui-btn layui-btn-danger" href="/exchangeCode/platform" >取消</a>
			</div>
			
		</form>
		
	</div>
{% endblock %}
{% block layui %}
	<script type="text/javascript" src="/controllers/exchangeCode/merchant/editMerchant.js"></script>
{% endblock %}



