{% extends "./../../layout.html"%}
{% block title%}商品管理--积分卡管理{% endblock %}
{% block head%}
	<link rel="stylesheet" href="/css/operation/index.css" />
{% endblock %}
{%block indexTitle%}
     <ul class="index_of_title">
	     <li>商品管理</li>
		 <li class="arrow-icon">>></li>
	     <li>积分卡管理</li>
	     <li class="arrow-icon">>></li>
	     <li class="onIndexOf">积分卡兑换明细</li>
	 </ul>
{%endblock%}
{% block content%}
	{% if data.message =="成功"%}
	 <form class="layui-form advManagement" action="" style="padding-top: 15px;">
	 		 	<div class="layui-form-item" style="text-align: center;">积分卡名称: {{page.scorecardName}}</div>
	 	<div class="layui-form-item">
	 		<div class="layui-inline">
			 	<label class="layui-form-label" style="width: 85px;">兑换人：</label>
			    <div class="layui-input-inline">
			    	{% if page.userPhone %}
			    	<input type="text" name="changeName" id="changeName" value="{{page.userPhone}}" lay-verify="text" autocomplete="off" class="layui-input">
					{% else %}
					<input type="text" name="changeName" id="changeName" lay-verify="text" autocomplete="off" class="layui-input">
					{% endif %}
			    </div>
		    </div>
		    <div class="layui-inline">
		        <label class="layui-form-label">兑换时间:</label>
                <div class="layui-input-inline">
				     {% if page && page.stDate %}
					 <input class="layui-input" placeholder="开始时间" value="{{page.stDate}}" id="LAY_demorange_s">
					 {% else %}
					 <input class="layui-input" placeholder="开始时间" id="LAY_demorange_s">
					 {% endif %}                      
                </div>
                <div class="layui-input-inline">
				     {% if page && page.enDate %}
					 <input class="layui-input" placeholder="截止时间" id="LAY_demorange_e" value="{{page.enDate}}">
					 {% else %}
					 <input class="layui-input" placeholder="截止时间" id="LAY_demorange_e">
					 {% endif %}                             
                </div>
		    </div>
		    <div class="layui-inline">
		    	<a href="javascript:;" id="searchBtn"><i class="layui-icon" style="font-size: 28px;font-weight: bold;">&#xe615;</i></a>
		    </div>
	    </div>
	 </form>
     <table class="layui-table table-width">
	     <tr>
	     	<th>序号</th>
	     	<th>兑换人</th>
	     	<th>额度(积分)</th>
	     	<th>兑换码</th>
	     	<th>商家</th>
	     	<th>兑换时间</th>
	     </tr>
         <tbody id="htmlWrap">
         	{% for lis in data.data.datas %}
         	<tr>
			 	<td>{{loop.index}}</td>
			 	<td>{{lis.userPhone}}</td>
			 	<td>{{lis.score}}</td>
			 	<td>{{lis.scorecardCode}}</td>
			 	<td>{{lis.buyerName}}</td>
			 	<td>{{lis.useTime}}</td>
			</tr>
         	{% endfor%}
		 </tbody>	
	 </table>
     <div id="paging" data-page-no={{data.data.pageNo}} data-page={{data.data.totalPage}} data-page-size={{data.data.pageSize}}></div>	
     {% else %}
	     <div style="text-align:center">{{data.message}}</div>
	 {% endif%}
{% endblock %}
{% block layui%}
 <script type="text/javascript">
	layui.use(['element', 'paging', 'laydate'], function(){
		$ = layui.jquery;
		//初始化日期组件
		var opt = {
			sMax: getQueryString("endTime") ? getQueryString("endTime") : laydate.now(),//开始日期的最大值
			eMin: getQueryString("startTime") ? getQueryString("startTime") : '2017-01-01',//结束日期的最小值
		};
		var dateIint = new dateComponent(opt);
		
		var paging = layui.laypage({
			pages:$("#paging").attr("data-page"), 
			cont:"paging",
			curr:$("#paging").attr("data-page-no"),
			groups:$("#paging").attr("data-page-size"),
			jump: function(obj, first){		 
				if(!first){
					jumpPage("pSize=10&pNo="+obj.curr);			 
				}			 
			}
		});
	});
	//列表查询按钮点击
	$('#searchBtn').on('click', function (){
		searchBackList();
	});
	//不同的状态下的查询列表
	function searchBackList(){
		var layLoad = layer.load(2,{
			shade: 0.6
		});//加载等待
		reloadPage('1');
		layer.close(layLoad);//清除加载
	};
	//get 同步刷新页面
	var reloadPage = function(pageNo){
		 var data = {
			 name:$("#changeName").val() || '', //兑换手机号
			 startTime:$('#LAY_demorange_s').val() || '',
			 endTime:$('#LAY_demorange_e').val() || '',
			 pageNo:pageNo,
			 pageSize:$("#paging").attr("data-page-size"),
			 scorecardName: getQueryString("scorecardName"),
			 scorecardBaseId: getQueryString("scorecardBaseId"),
		 };		
		 window.location.search = "?userPhone=" + escape(data.name) + "&stDate=" + escape(data.startTime) + "&enDate=" + 
		 escape(data.endTime) + "&pNo=" + escape(data.pageNo) + "&pSize=" + escape(data.pageSize) + "&scorecardName=" + escape(data.scorecardName) + "&scorecardBaseId=" + escape(data.scorecardBaseId);
	};
 </script>
{% endblock%}
