{% extends "./../../layout.html"%}
{% block title%}系统管理-资源管理-编辑资源{% endblock %}
{% block head%}
	<link rel="stylesheet" href="/css/system/index.css" />
{% endblock %}
{%block indexTitle%}
	<ul class="index_of_title">
	    <li>系统管理</li>
		<li class="arrow-icon">>></li>
	    <li>资源管理</li>
	    <li class="arrow-icon">>></li>
	    <li class="onIndexOf">编辑资源</li>
	</ul>
{%endblock%}
{% block content%}
	<section class="addResourceSection">
		<form class="layui-form layui-form-position layui-form-padding" action="">
			<div class="layui-form-item resourceTypeContent" data-type="{{data.data.type}}">
			    <label class="layui-form-label">资源类型:</label>
			    <div class="layui-input-inline " >
			    	
				        <select name="" lay-verify="require" value="菜单"  lay-search lay-filter="resourceType">
						  <!--<option value="">请选择资源类型</option>-->
						  {% if data.data.type == 1 %}
						  	<option value="1" selected="selected">一级菜单</option>
						  {% else %}
						  	<option value="1" >一级菜单</option>
						  {% endif %}	
						  {% if data.data.type == 2 %}
						  	<option value="2" selected="selected">二级菜单</option>
						  {% else %}
						  	<option value="2">二级菜单</option>
						  {% endif %}
						  {% if data.data.type == 3 %}
						  	<option value="3" selected="selected">三级菜单</option>
						  {% else %}
						  	<option value="3">三级菜单</option>
						  {% endif %}
						  {% if data.data.type == 6 %}
						  	<option value="6" selected="selected">按钮菜单</option>
						  {% else %}
						  	<option value="6">按钮菜单</option>
						  {% endif %}

						</select>
			    </div>
			    <span class="layui-tooltip tooltip-merchantCodeN hide">请选择菜单类型	</span>
			</div>
			<div class="layui-form-item">
			    <label class="layui-form-label">资源名称:`</label>
			    <div class="layui-input-inline">
			        <input type="text" name="username" lay-verify="required" placeholder="请输入资源名称" value="{{data.data.name}}" autocomplete="off" class="layui-input resourceName">
			    </div>
			    <span class="layui-tooltip tooltip-merchantShortN hide">请输入资源名称</span>
			</div>
			<div class="layui-form-item resourceCode" style="display: none;">
			    <label class="layui-form-label">资源编码:</label>
			    <div class="layui-input-inline">
			        <input type="text" name="username" value="{{data.data.code}}"  placeholder="请输入资源编码" autocomplete="off" class="layui-input code">
			    </div>
			    <span class="layui-tooltip tooltip-merchantShortN hide">请输入资源编码</span>
			</div>
	  		<div class="layui-form-item sourceSelectContent" data-value="{{data.data.parentId}}">
			    <label class="layui-form-label">父资源名:</label>
			    <!--<div class="layui-input-inline resourceParent" data-value="{{data.data.parentId}}">
			        
			    </div>-->
			</div>
			<div class="layui-form-item">
			    <label class="layui-form-label">URL:</label>
			    <div class="layui-input-inline">
			        <input type="text" name="username" lay-verify="required" value="{{data.data.manuUrl}}" placeholder="URL" autocomplete="off" class="layui-input resourceUrl">
			    </div>
			    <span class="layui-tooltip tooltip-merchantShortN hide">请输入URL</span>
			</div>
			<!--<div class="layui-form-item" pane="">
			    <label class="layui-form-label">资源状态:</label>
			    <div class="layui-input-inline layui-input-checked" >
			    	{% if data.data.status == 1 %}
				        <input type="radio" name="goodsStatus" value="1" checked="checked" title="启用">
						<input type="radio" name="goodsStatus" value="0" title="禁用">
						<input type="radio" name="goodsStatus" value="2" title="删除">
					{% endif %}	
					{% if data.data.status == 0 %}
						<input type="radio" name="goodsStatus" value="1"  title="启用">
						<input type="radio" name="goodsStatus" value="0" checked="checked" title="禁用">
						<input type="radio" name="goodsStatus" value="2" title="删除">
					{% endif %}	
					{% if data.data.status == 2 %}
						<input type="radio" name="goodsStatus" value="1"  title="启用">
						<input type="radio" name="goodsStatus" value="0" title="禁用">
						<input type="radio" name="goodsStatus" value="2" checked="checked" title="删除">
					{% endif %}	 
			   </div>
			</div>-->
			<div class="layui-form-item">
			    <label class="layui-form-label">排序:</label>
			    <div class="layui-input-inline">
			        <input type="text" name="username" lay-verify="required|number" placeholder="数字越小越靠前" value="{{data.data.manuOrder}}" autocomplete="off" class="layui-input resourceSort">
			    </div>
			    <span class="layui-tooltip tooltip-merchantShortN hide">请输入排序号</span>
			</div>
			<div class="layui-form-saveCloseBtn" pane="">
			     <a class="layui-btn layui-save-btn" lay-submit lay-filter="saveUserAdd">保存</a>
			    <a data-status="{{data.data.status}}" class="layui-btn layui-btn-danger clearMessage">重置</a>
			</div>
		</form>
		
	</section>
{% endblock %}
{% block layui %}
	<script type="text/javascript" src="/controllers/system/resourceManagement/editResource.js"></script>
{% endblock %}


