{% extends "./../../../layout.html"%} 
{% block title%}运营管理-任务管理-新手任务设置{% endblock %} {% block head%}
<link rel="stylesheet" href="/css/operation/index.css" /> 
<link rel="stylesheet" href="/css/operation/task.css" /> 
{% endblock %} 
{%block indexTitle%}
<ul class="index_of_title">
	<li>运营管理</li>
	<li class="arrow-icon">>></li>
	<li class="arrow-icon">任务管理</li>
	<li class="arrow-icon">>></li>
	<li class="onIndexOf">新手任务设置</li>
</ul>
{%endblock%} 
{% block content%}
{% if data.message =="成功"%}
<table class="layui-table table-width" id="taskTable">
	<tr>
		<th>任务名称</th>
		<th>任务内容</th>
		<th>奖励积分</th>
	</tr>
	<tbody id="taskTbody">
		<tr>
			<td class="taskNames" data-mark="1">完善资料</td>
			<td>
				{% if data.data.infoTxt %}
				<input type="text" name="taskCont" data-value="{{data.data.infoTxt}}" value="{{data.data.infoTxt}}" class="layui-input taskCont" lay-verify="text" autocomplete="off" placeholder="请输入任务内容(1-20个文字)">
				{% else %}
				<input type="text" name="taskCont" data-value="" value="" class="layui-input taskCont" lay-verify="text" autocomplete="off" placeholder="请输入任务内容(1-20个文字)">
				{% endif %}
			</td>
			<td class="adPoints">
			    <a class="layui-btn layui-btn-primary layui-btn-small cutTasksBtn"><i class="layui-icon">-</i></a>
			    {% if data.data.infoScore %}
			    <input class="tasksNumInpt" data-val="{{data.data.infoScore}}" value="{{data.data.infoScore}}" placeholder="0-1000" type="text" name="tasksNum" autocomplete="off"/>
			    {% else %}
			    <input class="tasksNumInpt" data-val="" value="0" placeholder="0-1000" type="text" name="tasksNum" autocomplete="off"/>
			    {% endif %}
			    <a class="layui-btn layui-btn-primary layui-btn-small addTasksBtn"><i class="layui-icon">+</i></a>
			</td>
		</tr>
		<tr>
			<td class="taskNames" data-mark="2">绑定社交账号</td>
			<td>
				{% if data.data.socialTxt %}
				<input type="text" name="taskCont" data-value="{{data.data.socialTxt}}" value="{{data.data.socialTxt}}" class="layui-input taskCont" lay-verify="text" autocomplete="off" placeholder="请输入任务内容(1-20个文字)">
				{% else %}
				<input type="text" name="taskCont" data-value="" value="" class="layui-input taskCont" lay-verify="text" autocomplete="off" placeholder="请输入任务内容(1-20个文字)">
				{% endif %}
			</td>
			<td class="adPoints">
			    <a class="layui-btn layui-btn-primary layui-btn-small cutTasksBtn"><i class="layui-icon">-</i></a>
			    {% if data.data.socialScore %}
			    <input class="tasksNumInpt" data-val="{{data.data.socialScore}}" value="{{data.data.socialScore}}" placeholder="0-1000" type="text" name="tasksNum" autocomplete="off"/>
			    {% else %}
			    <input class="tasksNumInpt" data-val="" value="0" placeholder="0-1000" type="text" name="tasksNum" autocomplete="off"/>
			    {% endif %}
			    <a class="layui-btn layui-btn-primary layui-btn-small addTasksBtn"><i class="layui-icon">+</i></a>
			</td>
		</tr>
		<tr>
			<td class="taskNames" data-mark="3">我喜欢的</td>
			<td>
				{% if data.data.favorTxt %}
				<input type="text" name="taskCont" data-value="{{data.data.favorTxt}}" value="{{data.data.favorTxt}}" class="layui-input taskCont" lay-verify="text" autocomplete="off" placeholder="请输入任务内容(1-20个文字)">
				{% else %}
				<input type="text" name="taskCont" data-value="" value="" class="layui-input taskCont" lay-verify="text" autocomplete="off" placeholder="请输入任务内容(1-20个文字)">
				{% endif %}
			</td>
			<td class="adPoints">
			    <a class="layui-btn layui-btn-primary layui-btn-small cutTasksBtn"><i class="layui-icon">-</i></a>
			    {% if data.data.favorScore %}
			    <input class="tasksNumInpt" data-val="{{data.data.favorScore}}" value="{{data.data.favorScore}}" placeholder="0-1000" type="text" name="tasksNum" autocomplete="off"/>
			    {% else %}
			    <input class="tasksNumInpt" data-val="" value="0" placeholder="0-1000" type="text" name="tasksNum" autocomplete="off"/>
			    {% endif %}
			    <a class="layui-btn layui-btn-primary layui-btn-small addTasksBtn"><i class="layui-icon">+</i></a>
			</td>
		</tr>
		<tr>
			<td class="taskNames" data-mark="4">邀请好友</td>
			<td>
				{% if data.data.inviteTxt %}
				<input type="text" name="taskCont" data-value="{{data.data.inviteTxt}}" value="{{data.data.inviteTxt}}" class="layui-input taskCont" lay-verify="text" autocomplete="off" placeholder="请输入任务内容(1-20个文字)">
				{% else %}
				<input type="text" name="taskCont" data-value="" value="" class="layui-input taskCont" lay-verify="text" autocomplete="off" placeholder="请输入任务内容(1-20个文字)">
				{% endif %}
			</td>
			<td class="adPoints">
			    <a class="layui-btn layui-btn-primary layui-btn-small cutTasksBtn"><i class="layui-icon">-</i></a>
			    {% if data.data.inviteScore %}
			    <input class="tasksNumInpt" data-val="{{data.data.inviteScore}}" value="{{data.data.inviteScore}}" placeholder="0-1000" type="text" name="tasksNum" autocomplete="off"/>
			    {% else %}
			    <input class="tasksNumInpt" data-val="" value="0" placeholder="0-1000" type="text" name="tasksNum" autocomplete="off"/>
			    {% endif %}
			    <a class="layui-btn layui-btn-primary layui-btn-small addTasksBtn"><i class="layui-icon">+</i></a>
			</td>
		</tr>
		<tr>
			<td class="taskNames" data-mark="5">新手课堂</td>
			<td>
				{% if data.data.lessonTxt %}
				<input type="text" name="taskCont" data-value="{{data.data.lessonTxt}}" value="{{data.data.lessonTxt}}" class="layui-input taskCont" lay-verify="text" autocomplete="off" placeholder="请输入任务内容(1-20个文字)">
				{% else %}
				<input type="text" name="taskCont" data-value="" value="" class="layui-input taskCont" lay-verify="text" autocomplete="off" placeholder="请输入任务内容(1-20个文字)">
				{% endif %}
			</td>
			<td class="adPoints">
			    <a class="layui-btn layui-btn-primary layui-btn-small cutTasksBtn"><i class="layui-icon">-</i></a>
			    {% if data.data.lessonScore %}
			    <input class="tasksNumInpt" data-val="{{data.data.lessonScore}}" value="{{data.data.lessonScore}}" placeholder="0-1000" type="text" name="tasksNum" autocomplete="off"/>
			    {% else %}
			    <input class="tasksNumInpt" data-val="" value="0" placeholder="0-1000" type="text" name="tasksNum" autocomplete="off"/>
			    {% endif %}
			    <a class="layui-btn layui-btn-primary layui-btn-small addTasksBtn"><i class="layui-icon">+</i></a>
			</td>
		</tr>
	</tbody>
</table>
<div class="setPageBtnCenter">
    <a href="javascript:;" class="layui-btn saveTaskSetBtn">保存设置</a>
    <a href="/operation/taskManagement/novicesTaskList" class="layui-btn taskBackBtn">返回</a>
</div>
{% else %}
<div style="text-align:center">{{data.message}}</div>
{% endif%} 
{% endblock %} 
{% block layui%}
<script type="text/javascript" src="/controllers/operation/taskManagement/novicesTaskSet.js"></script>
{% endblock%}