{% extends "./../../layout.html"%}
{% block title%}商品管理-商品兑换管理-商品兑换详情{% endblock %}
{% block head%}
	<link rel="stylesheet" href="/css/cashManagement/index.css" />
{% endblock %}
{%block indexTitle%}
     <ul class="index_of_title">
	     <li>商品管理</li>
	     <li class="arrow-icon">>></li>
	     <li>商品兑换管理</li>
	     <li class="arrow-icon">>></li>
	     <li class="onIndexOf">商品兑换详情</li>
	 </ul>
{%endblock%}
{% block content%}
	{% if data.message =="成功"%}
	<form class="layui-form formPage site-demo-top40 goodsViews setMarCenter" action="">
	    <div class="layui-form-item">
	    	<div class="layui-inline">
			    <label class="layui-form-label">兑换/充值状态：</label>
			    <div class="layui-input-inline">
			    	{% if data.data.status == 0 %}
				 	<span>兑换成功</span>
				 	{% elseif data.data.status == -2 %}
				 	<span>兑换异常</span>
				 	{% elseif data.data.status == -3 %}
				 	<span>未兑换</span>
				 	{% elseif data.data.status == -4 %}
					 	{% if data.data.payment_type == '2' || data.data.payment_type == '4' %}
					 	<span>兑换异常,积分现金已退</span>
					 	{% elseif data.data.payment_type == '3' || data.data.payment_type == '5' %}
					 	<span>兑换异常,现金已退</span>
					 	{% else %}
					 	<span>兑换异常,积分已退</span>
					 	{% endif %}
				 	{% elseif data.data.status == 1 %}
				 	<span>库存不足,无法兑换</span>
				 	{% elseif data.data.status == 2 %}
				 	<span>兑换失败,商品不存在</span>
				 	{% elseif data.data.status == 3 %}
				 	<span>兑换失败,商品已下架</span>
				 	{% elseif data.data.status == 4 %}
				 	<span>兑换失败,帐号状态异常</span>
				 	{% elseif data.data.status == 5 %}
				 	<span>兑换失败,指定帐号不存在</span>
				 	{% else %}
				 	<span>兑换失败</span>
				 	{% endif %}
			    </div>	
		    </div>
	    </div>
	    <div class="layui-form-item">
	    	<div class="layui-inline">
			    <label class="layui-form-label">商品名称：</label>
			    <div class="layui-input-inline">
			    	{% if data.data.full_name %}
				    <span>{{data.data.full_name}}</span>
				    {% else %}
				    <span></span>
				    {% endif %}
			    </div>	
		    </div>
		    <div class="layui-inline">
			    <label class="layui-form-label">商户名称：</label>
			    <div class="layui-input-inline">
			    	{% if data.data.short_name %}
				    <span>{{data.data.short_name}}</span>
				    {% else %}
				    <span></span>
				    {% endif %}
			    </div>	
		    </div>
	    </div>
	    <div class="layui-form-item">
	    	<div class="layui-inline">
			    <label class="layui-form-label">用户手机号：</label>
			    <div class="layui-input-inline">
			    	{% if data.data.payment_phone %}
				    <span>{{data.data.payment_phone}}</span>
				    {% else %}
				    <span></span>
				    {% endif %}
			    </div>	
		    </div>
		    <div class="layui-inline">
			    <label class="layui-form-label">充值手机号：</label>
			    <div class="layui-input-inline">
			    	{% if data.data.charge_phone %}
				    <span>{{data.data.charge_phone}}</span>
				    {% else %}
				    <span></span>
				    {% endif %}
			    </div>	
		    </div>
	    </div>
	    <div class="layui-form-item">
		    <div class="layui-inline">
			    <label class="layui-form-label">支付方式：</label>
			    <div class="layui-input-inline">
			    	{% if data.data.payment_type == 1 %}
				    <span>积分支付</span>
				    {% elseif data.data.payment_type == 2 %}
				    <span>积分+微信支付</span>
				    {% elseif data.data.payment_type == 3 %}
				    <span>微信支付</span>
				    {% elseif data.data.payment_type == 4 %}
				    <span>积分+支付宝支付</span>
				    {% elseif data.data.payment_type == 5 %}
				    <span>支付宝支付</span>
				    {% else %}
				    <span></span>
				    {% endif %}
			    </div>	
		    </div>
		    {% if data.data.product_ad_attr == 3 %}
		    <div class="layui-inline">
			    <label class="layui-form-label">充值金额/流量：</label>
			    <div class="layui-input-inline">
			    	{% if data.data.recharge_type == 1 %}
			       		<span>{{data.data.amount}} 元</span>
			       	{% elseif data.data.recharge_type == 2 %}
			       		<span>{{data.data.flow}} M</span>
			       	{% endif %}
			    </div>	
		    </div>
		    {% endif %}
	    </div>
	    <div class="layui-form-item">
		    <div class="layui-inline">
			    <label class="layui-form-label">消耗积分：</label>
			    <div class="layui-input-inline">
			    	{% if data.data.point %}
				    <span>{{data.data.point}}</span>
				    {% else %}
				    <span></span>
				    {% endif %}
			    </div>	
		    </div>
		    <div class="layui-inline">
			    <label class="layui-form-label">支付金额：</label>
			    <div class="layui-input-inline">
			    	{% if data.data.payment_amount %}
				    <span>{{data.data.payment_amount/100}}</span>
				    {% else %}
				    <span></span>
				    {% endif %}
			    </div>	
		    </div>
	    </div>
	    <div class="goods_content">
			<div class="layui-form-item layui-input-inline" >
			    <label class="layui-form-label">买家留言:</label>
			    <span>
			        {{data.data.buy_message}}
			    </span>
			</div>
		</div>
	    <div class="layui-form-item">
	    	<div class="layui-inline">
			    <label class="layui-form-label">购买时间：</label>
			    <div class="layui-input-inline">
			    	{% if data.data.buy_time %}
				    <span>{{data.data.buy_time}}</span>
				    {% else %}
				    <span></span>
				    {% endif %}
			    </div>	
		    </div>
		    <div class="layui-inline">
			    <label class="layui-form-label">兑换/充值时间：</label>
			    <div class="layui-input-inline">
			    	{% if data.data.product_ad_attr != 3 %}
			        	<span>{{data.data.exchange_time}}</span>
			        {% else  %}
			        	<span>{{data.data.finish_time}}</span>
			        {% endif %}
			    </div>	
		    </div>
	    </div>
	    <div class="layui-form-item">
	    	<div class="layui-inline">
			    <label class="layui-form-label">兑换方式：</label>
			    <div class="layui-input-inline">
			    	{% if data.data.product_exchange_type == 1 %}
				    <span>手动</span>
				    {% elseif data.data.product_exchange_type == 2 || data.data.product_exchange_type == 3 %}
				    <span>H5</span>
				    {% elseif data.data.product_exchange_type == 4 || data.data.product_exchange_type == 5 %}
				    <span>API</span>
				    {% else %}
				    <span></span>
				    {% endif %}
			    </div>	
		    </div>
		    <div class="layui-inline">
			    <label class="layui-form-label">账号类型：</label>
			    <div class="layui-input-inline">
			    	{% if data.data.product_exchange_type == 1 %}
				    <span>手动</span>
				    {% elseif data.data.product_exchange_type == 2 %}
				    <span>传手机号</span>
				    {% elseif data.data.product_exchange_type == 3 %}
				    <span>传兑换码</span>
				    {% elseif data.data.product_exchange_type == 4 %}
				    <span>手机号类型</span>
				    {% elseif data.data.product_exchange_type == 5 %}
				    <span>多账号类型</span>
				    {% else %}
				    <span></span>
				    {% endif %}
			    </div>	
		    </div>
	    </div>
		<div class="layui-form-item nextBackBtn">
			<div class="layui-inline">
            	<a href="/merchant/cashMan" class="layui-btn">关闭</a>
        	</div>
        </div>
	 </form>
	 {% else %}
	     <div style="text-align:center">{{data.message}}</div>
	 {% endif%}
{% endblock %}
{% block layui%} 
{% endblock%}
