{% extends "./../../layout.html"%}
{% block title%}客户管理--商户管理{% endblock %}
{% block head%}
	<link rel="stylesheet" href="/css/client/index.css" />
{% endblock %}
{%block indexTitle%}
     <ul class="index_of_title">
	     <li>客户管理</li>
		 <li class="arrow-icon">>></li>
		 <li class="arrow-icon">商户管理</li>
		 <li class="arrow-icon">>></li>
	     <li class="onIndexOf">商户列表</li>
	 </ul>
	 {% if menuCodeList %}
    	{% for code in menuCodeList %}
    		{% if unescape(code.name) == "新建" %}
    			<div id="addManBtnPos"><a class="layui-btn addManBtn" href="/client/tenantManagement/addTenantBtn">新建</a></div>
    		{% endif %}
    	{% endfor %}
    {% endif %}
{%endblock%}
{% block content%}
    {% if data.message =="成功"%}
	 <form class="layui-form clientMan" action="">
	 	<div class="layui-form-item">
	 		<div class="layui-inline" style="margin-left: 20px;">
	 			{% if page.status == '1' %}
	        	<div class="layui-input-inline selectStatus" data-stats="1">
				{% elseif page.status == '2' %}
	        	<div class="layui-input-inline selectStatus" data-stats="2">
	            {% elseif page.status == '3' %}
	        	<div class="layui-input-inline selectStatus" data-stats="3">
	            {% else %}
	        	<div class="layui-input-inline selectStatus" data-stats="">
				{% endif %}
			        <select name="tenantStatus" lay-filter="tenantStatus" lay-verify="required" lay-search="">
			        	{% if page.status == '1' %}
			        	<option value="-1">全部状态</option>
			            <option value="1" selected="selected">待审核</option>
			            <option value="2">审核通过</option>
			            <option value="3">待修改</option>
						{% elseif page.status == '2' %}
			        	<option value="-1">全部状态</option>
			            <option value="1">待审核</option>
			            <option value="2" selected="selected">审核通过</option>
			            <option value="3">待修改</option>
			            {% elseif page.status == '3' %}
			        	<option value="-1">全部状态</option>
			            <option value="1">待审核</option>
			            <option value="2">审核通过</option>
			            <option value="3" selected="selected">待修改</option>
			            {% else %}
			        	<option value="-1" selected="selected">全部状态</option>
			            <option value="1">待审核</option>
			            <option value="2">审核通过</option>
			            <option value="3">待修改</option>
						{% endif %}
			        </select>
		        </div>
		        {% if page && page.deliverWay == '1' %}
	        	<div class="layui-input-inline selDeliverInt" data-stats="1">
				{% elseif page && page.deliverWay == '2' %}
	        	<div class="layui-input-inline selDeliverInt" data-stats="2">
	            {% else %}
	        	<div class="layui-input-inline selDeliverInt" data-stats="0">
				{% endif %}
		        	{% if page && page.deliverWay == '2' %}
			        <select name="deliver" class="selDeliver" data-integral="2" lay-filter="deliver" lay-verify="required">
			        	<option value="0">发货方式</option>
			            <option value="1">商家发货</option>
			            <option value="2" selected="selected">平台发货</option>
			        </select>
		        	{% elseif page && page.deliverWay == '1' %}
			        <select name="deliver" class="selDeliver" data-integral="1" lay-filter="deliver" lay-verify="required">
			        	<option value="0">发货方式</option>
			            <option value="1" selected="selected">商家发货</option>
			            <option value="2">平台发货</option>
			        </select>
		        	{% else %}
			        <select name="deliver" class="selDeliver" data-integral="0" lay-filter="deliver" lay-verify="required">
			        	<option value="0" selected="selected">发货方式</option>
			            <option value="1">商家发货</option>
			            <option value="2">平台发货</option>
			        </select>
		        	{% endif %}
		        </div>
		    </div>
	 		<div class="layui-inline">
			 	<label class="layui-form-label">商户名称：</label>
			    <div class="layui-input-inline">
				    {% if page && page.shortName %}
					<input type="text" name="title" id="shortName" lay-verify="text" autocomplete="off" class="layui-input" value="{{page.shortName}}">
					{% else %}
					<input type="text" name="title" id="shortName" lay-verify="text" autocomplete="off" class="layui-input">
					{% endif %}			     
			    </div>
		    </div>
		    <div class="layui-inline">
		        <label class="layui-form-label">时间:</label>
                <div class="layui-input-inline">
				    {% if page && page.createTimeStart%}
					<input value="{{page.createTimeStart}}" class="layui-input" placeholder="开始时间" id="LAY_demorange_s">    
                    {% else %}
					<input class="layui-input" placeholder="开始时间" id="LAY_demorange_s">    
                    {% endif %}					
                </div>
                <div class="layui-input-inline">
				    {% if page && page.createTimeEnd%}
					<input class="layui-input" value="{{page.createTimeEnd}}" placeholder="截止时间" id="LAY_demorange_e">  
            		{% else %}
					<input class="layui-input" placeholder="截止时间" id="LAY_demorange_e">  
                    {% endif %}								
                </div>
		    </div>
		    <div class="layui-inline">
		    	<a href="javascript:;" onclick="queryClick()" id="searchBtn"><i class="layui-icon" style="font-size: 28px;font-weight: bold;">&#xe615;</i></a>
		    </div>
	    </div>
	 </form>
     <table class="layui-table table-width">
	     <tr>
	     	<th>序号</th>
	     	<th>商户名称</th>
	     	<th>销售方式</th>
	     	<th>发货方式</th>
	     	<th>创建人</th>
	     	<th>商品数量</th>
	     	<th>状态</th>
	     	<th>创建时间</th>
	     	<th>操作</th>
	     </tr>
         <tbody id="htmlWrap">
         	{% if data.data.datas.length %}
			    {% for item in data.data.datas %}
				     <tr>
					     <td>{{item.id}}</td>
					     <td><a class="textLinks" href="/client/tenantManagement/showTenants?merchantId={{item.id}}" style="color: #009688;">{{item.short_name}}</a></td>
					     <td>
						    {% if item.sales_way == "1"%}
							 线上
	                        {% elseif item.sales_way == "2"%}
							 线下
							{% else %}
							 未知
	                        {% endif %}
						 </td>
						 <td>
						 	{% if item.deliver_way == 1 %}
							商家发货
					    	{% elseif item.deliver_way == 2 %}
							平台发货
							{% else %}
							未知
					    	{% endif %}
						 </td>
					     <td>{{item.creator_name}}</td>
					     <td>{{item.proCount}}</td>
					     {% if item.status == '0' %}
					     <td>草稿箱</td>
					     {% elseif item.status == '1' %}
					     <td>待审核</td>
					     {% elseif item.status == '2' %}
					     <td>审核通过</td>
					     {% elseif item.status == '3' %}
					     <td>待修改</td>
					     {% elseif item.status == '4' %}
					     <td>已删除</td>
					     {% elseif item.status == '5' %}
					     <td>已审核</td>
					     {% endif %}
					     <td>{{item.create_time}}</td>
					     {% if item.status == '0' || item.status == '2' || item.status == '3' %}
						 <td>
						 	{% if menuCodeList %}
						    	{% for code in menuCodeList %}
						    		{% if unescape(code.name) == "编辑" %}
						    			<a class="layui-btn" href="/client/tenantManagement/editorTenant?merchantId={{item.id}}">编辑</a>
						    		{% endif %}
						    	{% endfor %}
						    {% endif %}
						    {% if item.proCount == '0' %}
						    	{% if menuCodeList %}
							    	{% for code in menuCodeList %}
							    		{% if unescape(code.name) == "删除" %}
							    			<a data-do="delMerchant" class="layui-btn layui-btn-danger" data-id="{{item.id}}"  href="javascript:void(0)">删除</a>
							    		{% endif %}
							    	{% endfor %}
							    {% endif %}
						    {% endif %}
						 </td>
						 {% elseif item.status == '1' || item.status == '4' || item.status == '5' %}
						 <td></td>
						 {% else %}
						 <td></td>
						 {% endif %}
					 </tr>
				 {% endfor %} 
			 {% endif %}
		 </tbody>	
	 </table>
     <div id="paging" data-page-no={{data.data.pageNo}} data-page={{data.data.totalPage}} data-page-size={{data.data.pageSize}}></div>	 
	 {% else %}
	     <div style="text-align:center">{{data.message}}</div>
	 {% endif%}
{% endblock %}
{% block layui%}
     <script type="text/javascript" src="/controllers/client/tenantManagement/index.js"></script>
{% endblock%}
